.button-green {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-green:hover {
    background-color: #256e09;
}

.button-red {
    background-color: #a30f0f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-red:hover {
    background-color: #ca1111;
}



.button-blue {
    background-color: #126ec5;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.button-blue:hover {
    background-color: #021349;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3); /* 더 선명한 그림자 */
    min-width: 300px;
    max-width: 500px;
    outline: none; /* 포커스 링 제거 */
}